# Compile
CONFIG_USE_APK=n
CONFIG_DEVEL=y
CONFIG_CCACHE=y

# BUSYBOX
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_TELNET=y

# Proto
CONFIG_PACKAGE_proto-bonding=y
# CONFIG_PACKAGE_luci-proto-wireguard is not set
CONFIG_PACKAGE_luci-proto-relay=y

# Libraries
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_libopenssl-legacy=y

# Disable Package
CONFIG_PACKAGE_automount=n

#  DEFAULT SET
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y

#  Coremark
# CONFIG_PACKAGE_coremark is not set
# CONFIG_COREMARK_OPTIMIZE_O3 is not set
# CONFIG_COREMARK_ENABLE_MULTITHREADING is not set
# CONFIG_COREMARK_NUMBER_OF_THREADS is not set

#  iptables nft
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_ip6tables-nft=y

# Package
# CONFIG_PACKAGE_easytier is not set

# Enable Luci App
# CONFIG_PACKAGE_luci-app-easytier is not set
# CONFIG_EASYTIER_INCLUDE_WEBCONSOLE is not set
# CONFIG_PACKAGE_luci-app-istorex is not set
# CONFIG_PACKAGE_luci-app-lucky is not set
# CONFIG_PACKAGE_luci-app-mosdns is not set
# CONFIG_PACKAGE_luci-app-oaf is not set
# CONFIG_PACKAGE_luci-app-pbr is not set
# CONFIG_PACKAGE_luci-app-smartdns is not set
# CONFIG_PACKAGE_luci-app-ttyd is not set
CONFIG_PACKAGE_luci-app-upnp=y
# CONFIG_PACKAGE_luci-app-wol is not set
