# TARGET config
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01="ipq-wifi-jdcloud_re-ss-01 -kmod-ath11k-pci zram-swap luci-app-cupsd"
CONFIG_TARGET_ROOTFS_INITRAMFS=n

# Swap
CONFIG_PACKAGE_zram-swap=m

# Kernel modules
# CONFIG_PACKAGE_kmod-fs-exfat is not set
# CONFIG_PACKAGE_kmod-fs-vfat is not set
# CONFIG_PACKAGE_kmod-netlink-diag is not set
# CONFIG_PACKAGE_kmod-inet-diag is not set
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y
#  USB Support
# CONFIG_PACKAGE_kmod-usb-acm is not set
CONFIG_PACKAGE_kmod-usb-ehci=y
# CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm is not set
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
# CONFIG_PACKAGE_kmod-usb-net-asix-ax88179 is not set
# CONFIG_PACKAGE_kmod-usb-net-rtl8152 is not set
# CONFIG_PACKAGE_kmod-usb-net-sierrawireless is not set
CONFIG_PACKAGE_kmod-usb-ohci=y
# CONFIG_PACKAGE_kmod-usb-serial-qualcomm is not set
# CONFIG_PACKAGE_kmod-usb-storage is not set
# CONFIG_PACKAGE_kmod-usb-storage-extras is not set
# CONFIG_PACKAGE_kmod-usb-storage-uas is not set
CONFIG_PACKAGE_kmod-usb2=y
# CONFIG_PACKAGE_kmod-usb-net-qmi-wwan is not set

# Package
# CONFIG_PACKAGE_ath11k-firmware-qcn9074-ddwrt is not set
CONFIG_PACKAGE_htop=y
# CONFIG_PACKAGE_fuse-utils is not set
# CONFIG_PACKAGE_ntfs3-mount is not set
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_tcpdump=y
# CONFIG_PACKAGE_sgdisk is not set
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_resize2fs=y
# CONFIG_PACKAGE_qrencode is not set
CONFIG_PACKAGE_smartmontools-drivedb=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_usbmuxd=y
CONFIG_PACKAGE_mii-tool=y
CONFIG_PACKAGE_xl2tpd=y
CONFIG_PACKAGE_xz-utils=y

# Enable Luci App
# CONFIG_PACKAGE_luci-app-adguardhome is not set
# CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary is not set
CONFIG_PACKAGE_luci-app-autoreboot=y
# CONFIG_PACKAGE_luci-app-cupsd is not set
CONFIG_PACKAGE_luci-app-diskman=y
# CONFIG_PACKAGE_luci-app-dockerman is not set
CONFIG_PACKAGE_luci-app-emmc-health=y
CONFIG_PACKAGE_luci-app-quickfile=y
# CONFIG_PACKAGE_luci-app-samba4 is not set
# CONFIG_PACKAGE_luci-app-sqm is not set
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
CONFIG_PACKAGE_luci-app-athena-led=m
CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=m

# Other
CONFIG_IB=y
CONFIG_IB_STANDALONE=y
CONFIG_PACKAGE_git=y
CONFIG_PACKAGE_adb=y
CONFIG_PACKAGE_zsh=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_ncat=y
CONFIG_PACKAGE_sudo=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_parted=y
CONFIG_PACKAGE_losetup=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_vim-full=y
CONFIG_PACKAGE_git-http=y
CONFIG_PACKAGE_dropbear=n
CONFIG_PACKAGE_resize2fs=y
CONFIG_PACKAGE_diffutils=y
CONFIG_PACKAGE_dropbearkey=n
CONFIG_PACKAGE_zoneinfo-asia=y
CONFIG_PACKAGE_openssh-server=y
CONFIG_PACKAGE_openssh-sftp-server=y

# CONFIG_PACKAGE_luci-app-qmodem is not set
# CONFIG_PACKAGE_luci-app-qmodem-sms is not set
# CONFIG_PACKAGE_luci-app-qmodem-ttl is not set
# CONFIG_PACKAGE_luci-app-qmodem-hc is not set

# CONFIG_PACKAGE_luci-app-eqos is not set
# CONFIG_PACKAGE_luci-i18n-eqos-zh-cn is not set
# CONFIG_PACKAGE_luci-app-ttyd is not set
CONFIG_PACKAGE_luci-app-nikki=y
CONFIG_PACKAGE_luci-app-bandix-plus=y
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-i18n-frpc-zh-cn=y
CONFIG_PACKAGE_python3-netifaces=y
