# TARGET config
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_TARGET_ROOTFS_CPIOGZ=n

# Image Options
CONFIG_TARGET_ROOTFS_PARTSIZE=1024

# Kernel modules
CONFIG_PACKAGE_kmod-tcp-bbr=y
# CONFIG_PACKAGE_kmod-fs-exfat is not set
# CONFIG_PACKAGE_kmod-fs-vfat is not set
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y
#  USB Support

# CONFIG_PACKAGE_kmod-usb-acm is not set
# CONFIG_PACKAGE_kmod-usb-ehci is not set
# CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm is not set
# CONFIG_PACKAGE_kmod-usb-net-ipheth is not set
# CONFIG_PACKAGE_kmod-usb-net-rndis is not set
# CONFIG_PACKAGE_kmod-usb-net-asix-ax88179 is not set
# CONFIG_PACKAGE_kmod-usb-net-rtl8152 is not set
# CONFIG_PACKAGE_kmod-usb-net-sierrawireless is not set
# CONFIG_PACKAGE_kmod-usb-ohci is not set
# CONFIG_PACKAGE_kmod-usb-serial-qualcomm is not set
# CONFIG_PACKAGE_kmod-usb-storage is not set
# CONFIG_PACKAGE_kmod-usb-storage-extras is not set
# CONFIG_PACKAGE_kmod-usb-storage-uas is not set
# CONFIG_PACKAGE_kmod-usb2 is not set
# CONFIG_PACKAGE_kmod-usb3 is not set

# Package
# CONFIG_PACKAGE_htop is not set
# CONFIG_PACKAGE_fuse-utils is not set
# CONFIG_PACKAGE_ntfs3-mount is not set
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_tcpdump=y
# CONFIG_PACKAGE_sgdisk is not set
# CONFIG_PACKAGE_openssl-util is not set
CONFIG_PACKAGE_resize2fs=y
# CONFIG_PACKAGE_qrencode is not set
# CONFIG_PACKAGE_smartmontools-drivedb is not set
# CONFIG_PACKAGE_usbutils is not set
# CONFIG_PACKAGE_usbmuxd is not set
CONFIG_PACKAGE_xz-utils=y

# Enable Luci App
# CONFIG_PACKAGE_luci-app-adguardhome is not set
# CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary is not set
# CONFIG_PACKAGE_luci-app-autoreboot is not set
# CONFIG_PACKAGE_luci-app-bandix is not set
# CONFIG_PACKAGE_luci-app-diskman is not set
# CONFIG_PACKAGE_luci-app-dockerman is not set
CONFIG_PACKAGE_luci-app-quickfile=y
# CONFIG_PACKAGE_luci-app-samba4 is not set
# CONFIG_PACKAGE_luci-app-vlmcsd is not set

# Other
CONFIG_IB=y
CONFIG_IB_STANDALONE=y
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_git=y
CONFIG_PACKAGE_git-http=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_lsof=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_parted=y
CONFIG_PACKAGE_losetup=y
# CONFIG_PACKAGE_dropbear is not set
# CONFIG_PACKAGE_block-mount is not set
# CONFIG_PACKAGE_dropbearkey is not set
CONFIG_PACKAGE_openssh-server=y
CONFIG_PACKAGE_zsh=y
CONFIG_PACKAGE_vim-full=y
# CONFIG_PACKAGE_luci-app-wizard is not set
